@page "/"

<PageTitle>Home</PageTitle>

<h1>Mum's Dice Game</h1>

This game demonstrates 
<ul>
    <li>
        Blazor pages
    </li>
    <li>
        SignalR (Hub method calls and matched notifications)
    </li>
    <li>
        Session storage (current user)
    </li>
</ul>

