@page "/"

<PageTitle>Home</PageTitle>

<h1>Mum's Dice Game</h1>

This game demonstrates 
<ul>
    <ui>
        Blazor pages
    </ui>
    <ui>
        SignalR (Hub method calls and notifications)
    </ui>
</ul>

