@page "/"

<PageTitle>Home</PageTitle>

<h1>Mum's Dice Game</h1>

<h2>This game demonstrates:</h2>
<ul>
    <li>
        Blazor pages
    </li>
    <li>
        SignalR (Hub method calls and matched notifications)
    </li>
    <li>
        Session storage (Blazored.SessionStorage)
    </li>
</ul>
<br/>
<div>
    To start, go to <a href="/reception">reception</a>.
</div>
<br />
<h2>Signing In (Reception)</h2>
To successfully sign in, a unique name/alias must be chosen. This name is only reserved for the current session, meaning the name may not be available on your next sign in attempt.